* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.header {
  background-color: #ffffff;
  top: 0;
  position: sticky;
  padding-left: 45px;
  min-height: 8vh;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #303030;
}

body {
  margin-top: 10px;
  background-color: #ffffff;
  min-height: 10vh;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, p, a, ul, li, button {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav-custom {
  margin: 20px;
}

.h2-main {
  font-weight: 600;
  color: #303030;
  text-align: left;
}

.h2-center {
  font-weight: 600;
  color: #303030;
  text-align: center;
  margin: 1em;
}

.h4-main {
  font-weight: 600;
  color: #2a94f4;
  margin-left: 0.75em;
}

.h4-main2 {
  font-weight: 600;
  color: #2a94f4;
}

.h5-main {
  font-weight: 600;
  color: #303030;
  margin: 0.55em;
  margin-top: 1em;
}

#jumbotron-custom {
  background-color: #ffffff;
  margin: 20px;
  margin-top: 12em;
}

#jumbotron-alt {
  background-color: #ffffff;
  margin: 20px;
  margin-top: 0em;
  margin-bottom: 6em;
}

#dashboard-jumbotron {
  background-color: #ffffff;
  margin-top: 4em;
  margin-bottom: 4em;
}

#center-jumbotron {
  background-color: #ffffff;
  margin-top: 8em;
  margin-bottom: 4em;
}

#col-custom {
  margin-top: 5em;
}

#emp-col {
  margin-top: 2em;
}

#profile-col {
  margin-top: 2em;
}

a {
  font-size: 17px;
  font-weight: 600;
  margin: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #303030;
}

a:hover {
  color: #1f74f3;
  text-decoration: none;
}

.btn {
  border-radius: 22px;
}

.btn-filled {
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  min-width: 145px;
  margin-right: 20px;
  border-radius: 26px;
  border: 2px solid #2b80ff;
  background-color: #2b80ff;
  color: #ffffff;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.btn-filled:hover, .btn-filled:focus, .btn-filled:active, .btn-filled.active {
  border: 2px solid #0066ff;
  background-color: #0066ff;
}

.btn-border {
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  min-width: 145px;
  border-radius: 26px;
  margin-left: -20px;
  border: 2px solid #2b80ff;
  background-color: #ffffff00;
  color: #1f74f3;
  text-decoration: none;
}

.btn-border:hover, .btn-border:focus, .btn-border:active, .btn-border.active {
  color: #303030;
  border: 2px solid #303030;
}

.cancel-btn {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  min-height: 30px;
  min-width: 115px;
  margin-left: 2em;
  border-radius: 26px;
  border: 2px solid #303030;
  background-color: #ffffff;
  color: #303030;
  text-decoration: none;
}

.cancel-btn:hover, .cancel-btn:focus, .cancel-btn:active, .cancel-btn.active {
  color: #2b80ff;
  border: 2px solid #2b80ff;
}

.elongated-btn {
  font-size: 12px;
  font-weight: 600;
  min-height: 35px;
  min-width: 165px;
  border-radius: 26px;
  border: 2px solid #303030;
  background-color: #ffffff;
  color: #303030;
  text-decoration: none;
}

.elongated-btn:hover, .elongated-btn:focus, .elongated-btn:active, .elongated-btn.active {
  color: #2b80ff;
  border: 2px solid #2b80ff;
}

.edit-btn {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  min-height: 30px;
  min-width: 115px;
  border-radius: 26px;
  border: 2px solid #303030;
  background-color: #ffffff;
  color: #303030;
  text-decoration: none;
}

.edit-btn:hover, .edit-btn:focus, .edit-btn:active, .edit-btn.active {
  color: #2b80ff;
  border: 2px solid #2b80ff;
}

.btn-large {
  font-size: 18px;
  font-weight: 500;
  min-height: 50px;
  min-width: 190px;
  margin-top: 2em;
  border-radius: 26px;
  border: 2px solid #2b80ff;
  background-color: #2b80ff;
  color: #ffffff;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.btn-large:hover, .btn-large:focus, .btn-large:active, .btn-large.active {
  border: 2px solid #0066ff;
  background-color: #0066ff;
}

.btnBorder-large {
  font-size: 18px;
  font-weight: 600;
  min-height: 50px;
  min-width: 240px;
  border-radius: 26px;
  border: 2px solid #2b80ff;
  background-color: #ffffff;
  color: #1f74f3;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.btnBorder-large:hover, .btnBorder-large:focus, .btnBorder-large:active, .btnBorder-large.active {
  color: #303030;
  border: 2px solid #303030;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #2b80ff;
  clear: both;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}

.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 170px;
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 240px;
}

label {
  font-size: 20px;
}

input {
  min-width: 18em;
}

.customerBookingPageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.makeCusBooking {
  text-align: center;
  padding-top: 20px;
}

.h2-cus-book-page {
  font-weight: 600;
  color: #303030;
  text-align: left;
  padding-bottom: 20px;
}

#jumbotron-cus-book-page {
  background-color: #ffffff;
  margin: 20px;
  margin-top: 5em;
  margin-bottom: 50px;
}

.datePickerContainer {
  text-align: center;
  border: 1px solid #2b80ff;
  color: #1f74f3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.customer-booking-page-error-modal .modal-header {
  /* background-color: red; */
  color: red;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 150px;
  justify-content: space-between;
}

.wrapper h1 {
  width: 100%;
  text-align: center;
}

#col-main {
  margin-top: -6em;
}

#col-main2 {
  margin-top: 4em;
}

#col-main3 {
  margin-top: 12em;
}

#row-main {
  margin-top: 12em;
}

#row-center-main {
  margin-top: 12em;
  text-align: center;
}

#row-center {
  text-align: center;
}